.carousel {
    position: relative;
    width: 100%;
    max-width: 100vw;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    min-width: 100%;
    transition: opacity 1s ease;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .carousel-item.active {
    opacity: 1;
    position: relative;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
    max-height: 50vh; /* Ensures image doesn't take more than 50% of the screen height */
    object-fit: cover; /* Ensures image looks good within its bounds */
    display: block;
    margin: auto;
    border-radius: 8px; /* Optional: Adds rounded corners for a modern look */
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    outline: none;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }


  @media screen and (max-width: 700px) {

    .carousel-button {
      font-size: 0.5rem;
      padding: 5px 10px;
     
    }
    .carousel-item img {
      width: 100%;
      height: 30vh;
      max-height: 30vh;
      object-fit: cover; 
      display: block;
      margin: auto;
      border-radius: 8px; 
    }
    
  }
  /* Hide scrollbar for better appearance on small screens */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
